    
    <%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
    
    
    <main>
        <h1>Home</h1>

        <ul>
            <li>
                <%= user.firstname %> <%= user.lastname %>
                <%= user.birth.month %> <%= user.birth.day %>
            </li>
        </ul>
        
    </main>
    
    <%- include('partials/footer.ejs') %>